<form class="splunk-formatter-section" section-label="General">
    <splunk-control-group label="Card Corner">
        <splunk-text-input name="{{VIZ_NAMESPACE}}.cornerRadius" value="4"></splunk-text-input>
    </splunk-control-group>
    <splunk-control-group label="Color">
        <splunk-color-picker name="{{VIZ_NAMESPACE}}.colorPalette" type="splunkSemantic" value="#65a637"></splunk-color-picker>
    </splunk-control-group>
    <splunk-control-group label="Hour Range">
        <splunk-radio-input name="{{VIZ_NAMESPACE}}.hourRange" value="0">
            <option value="0">0~23</option>
            <option value="1">1~24</option>
        </splunk-radio-input>
    </splunk-control-group>
    <splunk-control-group label="Show Value">
        <splunk-radio-input name="{{VIZ_NAMESPACE}}.showValue" value="0">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </splunk-radio-input>
    </splunk-control-group>
    <splunk-control-group label="Highlight Max">
        <splunk-radio-input name="{{VIZ_NAMESPACE}}.highlightMax" value="0">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </splunk-radio-input>
    </splunk-control-group>
</form>
