/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */


/* Center the main SVG in the page */

.dayhourheatmap svg {
    display: block;
    margin: auto;
}

.dayhourheatmap rect.bordered {
    stroke: #E6E6E6;
    stroke-alignment: inside;
    stroke-width: 2px;
}

.dayhourheatmap text {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica;
    fill: #555555;
}

.dayhourheatmap text.mono {
    font-size: 9pt;
    fill: #555555;
}

.dayhourheatmap text.axis-workweek {
    /*fill: #000;*/
    font-weight: bold;
}

.dayhourheatmap text.axis-worktime {
    /*fill: #000;*/
    font-weight: bold;
}
